//$myFont: Helvetica, sans-serif;
$myBackgroundColor: red;
//$myFontSize: 18px;
$myWidth: 680px;
$myColor: green;

body {
  font: {
    family: Helvetica, sans-serif;
    size: 18px;
    weight: bold;
  }

  text: {
    align: center;
    transform: lowercase;
    overflow: hidden;
  }
  background: $myBackgroundColor;
}

h1{
  //как видим - доступны комментарии данного вида
  //также значение переменной можно изменить в данном блоке
  $myColor: black !global;
  color: $myColor;
}

.container {
  width: $myWidth;
  color: $myColor;
}

